# Compare Excel Files

In [81]:
import pandas as pd
import os.path as op

FILE_1_PATH = r"../../data/predictions_datasets/brca_prediction_2021-10-26/632d9021/brca_preliminary_data_cgc_2021-10-26.xlsx"
FILE_2_PATH = r"../../data/predictions_datasets/brca_prediction_2021-11-05_test/test/brca_preliminary_data_cgc_2021-11-05.xlsx"

file_1 = pd.read_excel(FILE_1_PATH)
file_2 = pd.read_excel(FILE_2_PATH)

print(file_1.equals(file_2))

# print(op.isfile(FILE_1_PATH))
# print(op.isfile(FILE_2_PATH))

False

In [86]:
file_1.iloc[:, 2:-2].equals(file_2.iloc[:, 2:-2])

True

In [2]:
file_1.head()

,PROTEIN,GENE,NUM_ELASPIC_INTERFACE_ENTRIES,NUM_DISRUPTIVE_ENTRIES,NUM_INCR_NOEFF_ENTRIES,NUM_UNIQUE_INTERACTORS,PATIENT_CORE_COUNT,PATIENT_INTERFACE_COUNT,BASELINE,OUR_METHOD,OUR_METHOD/BASELINE,ELASPIC_COVERAGE,CGC_STATUS,CGC_STATUS (BRCA)
0,A0AV96,RBM47,0,0,0,0,2,0,0,0,NaN,2,-,-
1,A0AVI2,FER1L5,0,0,0,0,4,0,0,0,NaN,4,-,-
2,A0AVT1,UBA6,14,3,11,7,4,5,14,3,0.214286,9,-,-
3,A0FGR9,ESYT3,2,1,1,1,1,2,2,1,0.500000,3,-,-
4,A0PJE2,DHRS12,0,0,0,0,1,0,0,0,NaN,1,-,-

In [4]:
file_2.head()

,PROTEIN,GENE,NUM_ELASPIC_INTERFACE_ENTRIES,NUM_DISRUPTIVE_ENTRIES,NUM_INCR_NOEFF_ENTRIES,NUM_UNIQUE_INTERACTORS,PATIENT_CORE_COUNT,PATIENT_INTERFACE_COUNT,BASELINE,OUR_METHOD,OUR_METHOD/BASELINE,ELASPIC_COVERAGE,CGC_STATUS,CGC_STATUS (BRCA)
0,A0AV96,RBM47,0,0,0,0,2,0,0,0,NaN,2,-,-
1,A0AVI2,FER1L5,0,0,0,0,4,0,0,0,NaN,4,-,-
2,A0AVT1,UBA6,14,3,11,7,4,5,14,3,0.214286,9,-,-
3,A0FGR9,ESYT3,2,1,1,1,1,2,2,1,0.500000,3,-,-
4,A0PJE2,DHRS12,0,0,0,0,1,0,0,0,NaN,1,-,-

In [5]:
file_1.iloc[:, 2:]

,NUM_ELASPIC_INTERFACE_ENTRIES,NUM_DISRUPTIVE_ENTRIES,NUM_INCR_NOEFF_ENTRIES,NUM_UNIQUE_INTERACTORS,PATIENT_CORE_COUNT,PATIENT_INTERFACE_COUNT,BASELINE,OUR_METHOD,OUR_METHOD/BASELINE,ELASPIC_COVERAGE,CGC_STATUS,CGC_STATUS (BRCA)
0,0,0,0,0,2,0,0,0,NaN,2,-,-
1,0,0,0,0,4,0,0,0,NaN,4,-,-
2,14,3,11,7,4,5,14,3,0.214286,9,-,-
3,2,1,1,1,1,2,2,1,0.500000,3,-,-
4,0,0,0,0,1,0,0,0,NaN,1,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...
8418,2,1,1,2,12,1,2,1,0.500000,13,-,-
8419,0,0,0,0,1,0,0,0,NaN,1,-,-
8420,0,0,0,0,1,0,0,0,NaN,1,-,-
8421,0,0,0,0,1,0,0,0,NaN,1,+,-
8422,0,0,0,0,1,0,0,0,NaN,1,-,-

In [75]:
with open("brca_proteins.txt", "w") as fout:
    for protein in file_1["PROTEIN"]:
        fout.write(f"{protein}\n")

In [76]:
file_1["CGC_STATUS"].value_counts()

-    7994
+     429
Name: CGC_STATUS, dtype: int64

In [78]:
with open("brca_genes_API.txt", "w") as fout:
    for gene in file_2["GENE"]:
        fout.write(f"{gene}\n")

In [79]:
file_1["CGC_STATUS"].value_counts()

-    7994
+     429
Name: CGC_STATUS, dtype: int64

In [80]:
file_2["CGC_STATUS"].value_counts()

-    7999
+     424
Name: CGC_STATUS, dtype: int64

In [6]:
file_2.iloc[:, 2:]

,NUM_ELASPIC_INTERFACE_ENTRIES,NUM_DISRUPTIVE_ENTRIES,NUM_INCR_NOEFF_ENTRIES,NUM_UNIQUE_INTERACTORS,PATIENT_CORE_COUNT,PATIENT_INTERFACE_COUNT,BASELINE,OUR_METHOD,OUR_METHOD/BASELINE,ELASPIC_COVERAGE,CGC_STATUS,CGC_STATUS (BRCA)
0,0,0,0,0,2,0,0,0,NaN,2,-,-
1,0,0,0,0,4,0,0,0,NaN,4,-,-
2,14,3,11,7,4,5,14,3,0.214286,9,-,-
3,2,1,1,1,1,2,2,1,0.500000,3,-,-
4,0,0,0,0,1,0,0,0,NaN,1,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...
8418,2,1,1,2,12,1,2,1,0.500000,13,-,-
8419,0,0,0,0,1,0,0,0,NaN,1,-,-
8420,0,0,0,0,1,0,0,0,NaN,1,-,-
8421,0,0,0,0,1,0,0,0,NaN,1,+,-
8422,0,0,0,0,1,0,0,0,NaN,1,-,-

In [10]:
file_1.iloc[:, :2]

     PROTEIN      GENE
0     A0AV96     RBM47
1     A0AVI2    FER1L5
2     A0AVT1      UBA6
3     A0FGR9     ESYT3
4     A0PJE2    DHRS12
...      ...       ...
8418  Q9Y6X6     MYO16
8419  Q9Y6X8      ZHX2
8420  Q9Y6Y0  IVNS1ABP
8421  Q9Y6Y1    CAMTA1
8422  Q9Y6Z7   COLEC10

[8423 rows x 2 columns]

In [17]:
def compare_dfs(df1, df2):
    return df1.equals(df2)

In [21]:
from tqdm.notebook import tqdm

In [32]:
for i in tqdm(range(len(file_1))):
    if i in [1044, 2616, 6006, 6517, 6789]:
        continue
    assert compare_dfs(file_1.iloc[[i], 2:], file_2.iloc[[i], 2:]), f"i={i}"

  0%|          | 0/8423 [00:00<?, ?it/s]

In [42]:
file_1[file_1["GENE"].isna()]

,PROTEIN,GENE,NUM_ELASPIC_INTERFACE_ENTRIES,NUM_DISRUPTIVE_ENTRIES,NUM_INCR_NOEFF_ENTRIES,NUM_UNIQUE_INTERACTORS,PATIENT_CORE_COUNT,PATIENT_INTERFACE_COUNT,BASELINE,OUR_METHOD,OUR_METHOD/BASELINE,ELASPIC_COVERAGE,CGC_STATUS,CGC_STATUS (BRCA)
1186,P04745,NaN,0,0,0,0,4,0,0,0,NaN,4,-,-
1191,P04908,NaN,2,1,1,1,11,2,2,1,0.500000,13,-,-
1408,P0C0S8,NaN,2,2,0,1,10,2,2,2,1.000000,12,-,-
1535,P12532,NaN,0,0,0,0,2,0,0,0,NaN,2,-,-
3048,P62805,NaN,64,54,9,16,6,11,63,54,0.857143,17,-,-
3049,P62807,NaN,10,4,6,1,2,11,11,4,0.363636,13,-,-
3082,P68431,NaN,33,28,5,11,1,11,40,35,0.875000,12,-,-
3583,Q13748,NaN,0,0,0,0,8,0,0,0,NaN,8,-,-
4342,Q5VU13,NaN,0,0,0,0,1,0,0,0,NaN,1,-,-

In [43]:
file_2[file_2["GENE"].isna()]

,PROTEIN,GENE,NUM_ELASPIC_INTERFACE_ENTRIES,NUM_DISRUPTIVE_ENTRIES,NUM_INCR_NOEFF_ENTRIES,NUM_UNIQUE_INTERACTORS,PATIENT_CORE_COUNT,PATIENT_INTERFACE_COUNT,BASELINE,OUR_METHOD,OUR_METHOD/BASELINE,ELASPIC_COVERAGE,CGC_STATUS,CGC_STATUS (BRCA)
23,A2BFH1,NaN,0,0,0,0,2,0,0,0,NaN,2,-,-
564,O60344,NaN,0,0,0,0,6,0,0,0,NaN,6,-,-
1186,P04745,NaN,0,0,0,0,4,0,0,0,NaN,4,-,-
3031,P62158,NaN,7,6,1,6,0,2,7,6,0.857143,2,-,-
3583,Q13748,NaN,0,0,0,0,8,0,0,0,NaN,8,-,-
4233,Q5JXX5,NaN,0,0,0,0,1,0,0,0,NaN,1,-,-
4342,Q5VU13,NaN,0,0,0,0,1,0,0,0,NaN,1,-,-
8154,Q9Y2S0,NaN,1,0,1,1,0,1,1,0,0.000000,1,-,-

P68431
P62805

In [33]:
from IPython.display import display

In [68]:
entries = []
for k in [1044, 2616, 6006, 6517, 6789]:
    entries.append((file_1.loc[k, 'PROTEIN'], file_1.loc[k, 'GENE'], file_1.loc[k, 'CGC_STATUS']))
    entries.append((file_2.loc[k, 'PROTEIN'], file_2.loc[k, 'GENE'], file_2.loc[k, 'CGC_STATUS']))
    
#     print(f"{file_1.loc[k, 'PROTEIN']} \t {file_1.loc[k, 'GENE']} \t {' ': <5} {file_1.loc[k, 'CGC_STATUS']}")
#     print(f"{file_2.loc[k, 'PROTEIN']} \t {file_2.loc[k, 'GENE']} \t {' ': <5} {file_2.loc[k, 'CGC_STATUS']}")
#     display(file_1.iloc[[k], :])
#     display(file_2.iloc[[k], :])
#     print("\n=================================================================================================")

In [72]:
pd.DataFrame(entries, columns=["PROTEIN", "GENE", "CGC_STATUS"])

  PROTEIN     GENE CGC_STATUS
0  O96028    WHSC1          +
1  O96028     NSD2          -
2  P49589     CARS          +
3  P49589    CARS1          -
4  Q969V6     MKL1          +
5  Q969V6    MRTFA          -
6  Q99719    SEPT5          +
7  Q99719  SEPTIN5          -
8  Q9BZ95  WHSC1L1          +
9  Q9BZ95     NSD3          -

In [26]:
file_1.iloc[[i], :]

,PROTEIN,GENE,NUM_ELASPIC_INTERFACE_ENTRIES,NUM_DISRUPTIVE_ENTRIES,NUM_INCR_NOEFF_ENTRIES,NUM_UNIQUE_INTERACTORS,PATIENT_CORE_COUNT,PATIENT_INTERFACE_COUNT,BASELINE,OUR_METHOD,OUR_METHOD/BASELINE,ELASPIC_COVERAGE,CGC_STATUS,CGC_STATUS (BRCA)
1044,O96028,WHSC1,0,0,0,0,2,0,0,0,NaN,2,+,-

In [27]:
file_2.iloc[[i], :]

,PROTEIN,GENE,NUM_ELASPIC_INTERFACE_ENTRIES,NUM_DISRUPTIVE_ENTRIES,NUM_INCR_NOEFF_ENTRIES,NUM_UNIQUE_INTERACTORS,PATIENT_CORE_COUNT,PATIENT_INTERFACE_COUNT,BASELINE,OUR_METHOD,OUR_METHOD/BASELINE,ELASPIC_COVERAGE,CGC_STATUS,CGC_STATUS (BRCA)
1044,O96028,NSD2,0,0,0,0,2,0,0,0,NaN,2,-,-

In [16]:
file_1.shape, file_2.shape

((8423, 14), (8423, 14))

True

In [12]:
file_2[file_2["PROTEIN"] == "P68431"]

,PROTEIN,GENE,NUM_ELASPIC_INTERFACE_ENTRIES,NUM_DISRUPTIVE_ENTRIES,NUM_INCR_NOEFF_ENTRIES,NUM_UNIQUE_INTERACTORS,PATIENT_CORE_COUNT,PATIENT_INTERFACE_COUNT,BASELINE,OUR_METHOD,OUR_METHOD/BASELINE,ELASPIC_COVERAGE,CGC_STATUS,CGC_STATUS (BRCA)
3082,P68431,H3C1,33,28,5,11,1,11,40,35,0.875,12,-,-

In [11]:
file_2.iloc[:, :2]

     PROTEIN      GENE
0     A0AV96     RBM47
1     A0AVI2    FER1L5
2     A0AVT1      UBA6
3     A0FGR9     ESYT3
4     A0PJE2    DHRS12
...      ...       ...
8418  Q9Y6X6     MYO16
8419  Q9Y6X8      ZHX2
8420  Q9Y6Y0  IVNS1ABP
8421  Q9Y6Y1    CAMTA1
8422  Q9Y6Z7   COLEC10

[8423 rows x 2 columns]

In [9]:
file_1.iloc[:, :2].equals(file_2.iloc[:, :2])

False

In [8]:
file_1.iloc[:, 2:].equals(file_2.iloc[:, 2:])

False