In [5]:
import pickle
import pandas as pd
from IPython.display import display

with open("brca_patient_protein_mutation_to_C_I_status.pickle", 'rb') as inp:
    brca_patient_protein_mutation_to_C_I_status = pickle.load(inp)

# print(brca_patient_protein_mutation_to_C_I_status)

data = pd.DataFrame(
    brca_patient_protein_mutation_to_C_I_status.keys(),
    columns=["PROTEIN", "PATIENT"]
)
data["C_I_STATUS"] = brca_patient_protein_mutation_to_C_I_status.values()
display(data.head())

  PROTEIN       PATIENT C_I_STATUS
0  Q5TEC3  TCGA-3C-AAAU          C
1  Q8N5C6  TCGA-3C-AAAU          C
2  O60315  TCGA-3C-AAAU          C
3  P00747  TCGA-3C-AAAU          C
4  Q9UDT6  TCGA-3C-AAAU          C

In [6]:
print(data["C_I_STATUS"].value_counts())

C    56189
I     1695
Name: C_I_STATUS, dtype: int64

In [ ]:
'TCGA-A2-A04T'
"TCGA-A7-A6VX"

In [8]:
data[
    (data["PROTEIN"] == "P04637") &
    (data["PATIENT"] == "TCGA-A2-A04T")
]

     PROTEIN       PATIENT C_I_STATUS
2337  P04637  TCGA-A2-A04T          C

In [9]:
data[
    (data["PROTEIN"] == "P04637") &
    (data["PATIENT"] == "TCGA-A7-A6VX")
]

     PROTEIN       PATIENT C_I_STATUS
7445  P04637  TCGA-A7-A6VX          I

In [12]:
data[
    (data["PROTEIN"] == "P04637") &
    (data["C_I_STATUS"] == "I")
].shape

(55, 3)