# IRAK3 in BRCA

In [1]:
import os

os.chdir('../')

In [2]:
import pandas as pd
from tqdm.notebook import tqdm

In [3]:
ELASPIC_RESULTS_COMMON_PATH = "../../My-ELASPIC-Web-API/Elaspic_Results/Merged_Results/"  # elaspic_results_datasets
BRCA_CORE_PATH = ELASPIC_RESULTS_COMMON_PATH + "BRCA_Core_2021-09-28.txt"
BRCA_INTERFACE_PATH = ELASPIC_RESULTS_COMMON_PATH + "BRCA_Interface_2021-09-28.txt"
SNV_COMMON_PATH = "C:/Users/ibrah/Desktop/TUSEB_Study/Data_Collection_and_Filtering/SNV/"
SNV_BRCA_PATH = SNV_COMMON_PATH + "SNV_BRCA_hg38.csv"

In [4]:
brca_snv = pd.read_csv(SNV_BRCA_PATH, low_memory=False)
print(brca_snv.shape)
brca_snv.head(3)

(120988, 121)

,Unnamed: 0,Hugo_Symbol,Entrez_Gene_Id,Center,NCBI_Build,Chromosome,Start_Position,End_Position,Strand,Variant_Classification,...,FILTER,CONTEXT,src_vcf_id,tumor_bam_uuid,normal_bam_uuid,case_id,GDC_FILTER,COSMIC,MC3_Overlap,GDC_Validation_Status
0,1,USP24,23358,WUGSC,GRCh38,chr1,55159655,55159655,+,Missense_Mutation,...,panel_of_normals,CTGGATTGTAG,d083d669-6646-463b-853e-c58da8d06439,4374e19d-c5e7-49cf-8707-05ae5aeb7369,aadee87c-6a68-4580-bd10-64ac273b1e3d,0130d616-885e-4a6c-9d03-2f17dd692a05,common_in_exac;gdc_pon,NaN,True,Unknown
1,2,ERICH3,127254,WUGSC,GRCh38,chr1,74571494,74571494,+,Missense_Mutation,...,PASS,TTCCTCTACCA,d083d669-6646-463b-853e-c58da8d06439,4374e19d-c5e7-49cf-8707-05ae5aeb7369,aadee87c-6a68-4580-bd10-64ac273b1e3d,0130d616-885e-4a6c-9d03-2f17dd692a05,NaN,COSM1474194,True,Unknown
2,3,KIF26B,55083,WUGSC,GRCh38,chr1,245419680,245419680,+,Silent,...,PASS,GCCTCGCAGGG,d083d669-6646-463b-853e-c58da8d06439,4374e19d-c5e7-49cf-8707-05ae5aeb7369,aadee87c-6a68-4580-bd10-64ac273b1e3d,0130d616-885e-4a6c-9d03-2f17dd692a05,NaN,COSM1473725;COSM1473726,True,Unknown

In [5]:
brca_core_data_original = pd.read_csv(BRCA_CORE_PATH, sep='\t', low_memory=False)
print(brca_core_data_original.shape)
brca_core_data_original.head(3)

(19357, 103)

,Input_identifier,UniProt_ID,Mutation,Status,Type,COSMIC_mut_ID,ClinVar_mut_ID,UniProt_mut_ID,Domain_name,Domain_clan,...,number_of_residues_mut,IntraclashesEnergy1_wt,IntraclashesEnergy1_mut,IntraclashesEnergy2_wt,IntraclashesEnergy2_mut,Interface_hydrophobic_area,Interface_hydrophilic_area,Interface_total_area,Interface_contact_distance_wt,Interface_contact_distance_mut
0,P35367,P35367,M206V,done,core,COSM1484451,-,-,7tm_1,7tm_1,...,458.0,-,-,-,-,-,-,-,-,-
1,Q96RQ3,Q96RQ3,R66H,done,core,COSM1041745,-,-,CPSase_L_chain+CPSase_L_D2+Biotin_carb_C,CPSase_L_chain+CPSase_L_D2+Biotin_carb_C,...,574.0,-,-,-,-,-,-,-,-,-
2,O00203,O00203,R227H,done,core,COSM1438700,-,-,Adaptin_N,Adaptin_N,...,618.0,-,-,-,-,-,-,-,-,-

In [6]:
brca_interface_data_original = pd.read_csv(BRCA_INTERFACE_PATH, sep='\t', low_memory=False)
print(brca_interface_data_original.shape)
brca_interface_data_original.head(3)

(7467, 103)

,Input_identifier,UniProt_ID,Mutation,Status,Type,COSMIC_mut_ID,ClinVar_mut_ID,UniProt_mut_ID,Domain_name,Domain_clan,...,number_of_residues_mut,IntraclashesEnergy1_wt,IntraclashesEnergy1_mut,IntraclashesEnergy2_wt,IntraclashesEnergy2_mut,Interface_hydrophobic_area,Interface_hydrophilic_area,Interface_total_area,Interface_contact_distance_wt,Interface_contact_distance_mut
0,P28062,P28062,R216W,done,interface,COSM451277,-,-,Proteasome,Proteasome,...,417.0,156.750,156.868,49.1868,49.1868,566.065,367.205,933.27,5.37939,3.28969
1,Q15842,Q15842,E237K,done,interface,COSM430893,-,-,IRK,IRK,...,684.0,131.720,131.479,129.5260,129.5260,None,None,None,2.48410,2.92169
2,Q15842,Q15842,E237K,done,interface,COSM430893,-,-,IRK,IRK,...,678.0,142.706,142.107,99.1151,99.1190,None,624.35,None,2.70474,3.18529

## Number of patients that has only interface mutations for protein "IRAK3"

In [8]:
from helpers.helpers_analysis.get_patient_protein_to_mutations_dict import get_patient_protein_to_mutations_dict
from helpers.helpers_analysis.preprocessing import process_snv

In [7]:
brca_patients_original = sorted(brca_snv["Tumor_Sample_Barcode"].unique())
brca_patients_original = [patient[:12] for patient in brca_patients_original]
print(f"Number of BRCA patients: {len(brca_patients_original)}")
brca_patients_original[:3]

Number of BRCA patients: 986

['TCGA-3C-AAAU', 'TCGA-3C-AALI', 'TCGA-3C-AALJ']

In [9]:
brca_snv_processed = process_snv(brca_snv)
brca_snv_simplified = brca_snv_processed[["Hugo_Symbol", "SWISSPROT", "HGVSp_Short", "Tumor_Sample_Barcode"]].copy()
brca_snv_simplified["Tumor_Sample_Barcode"] = brca_snv_simplified["Tumor_Sample_Barcode"].apply(lambda x: x[:12])
print(brca_snv_simplified.shape)
brca_snv_simplified.head(3)

(60251, 4)

  Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
0       USP24    Q9UPU5       I342V         TCGA-D8-A1XY
1      ERICH3    Q5RHP9      E1406K         TCGA-D8-A1XY
2      SPHKAP    Q2M3C7      R1372S         TCGA-D8-A1XY

In [13]:
brca_patients_actual = sorted(brca_snv_simplified["Tumor_Sample_Barcode"].unique())
brca_patients_actual = [patient[:12] for patient in brca_patients_actual]
print(f"Number of BRCA patients: {len(brca_patients_actual)}")
brca_patients_actual[:3]

Number of BRCA patients: 985

['TCGA-3C-AAAU', 'TCGA-3C-AALI', 'TCGA-3C-AALJ']

In [11]:
for patient in tqdm(brca_patients_original):
    patient_snv = brca_snv_simplified[
        brca_snv_simplified["Tumor_Sample_Barcode"] == patient
    ]
    
    if patient_snv.empty:
        print(patient)

  0%|          | 0/986 [00:00<?, ?it/s]

TCGA-AC-A2FK

In [14]:
for patient in tqdm(brca_patients_actual):
    patient_snv = brca_snv_simplified[
        brca_snv_simplified["Tumor_Sample_Barcode"] == patient
    ]
    
    if patient_snv.empty:
        print(patient)

  0%|          | 0/985 [00:00<?, ?it/s]

In [19]:
def get_patient_snv(patient, snv_data_param):
    patient_snv = snv_data_param[
        snv_data_param["Tumor_Sample_Barcode"] == patient
    ]
    
    return patient_snv

In [20]:
for patient in tqdm(brca_patients_actual):
    patient_snv = get_patient_snv(patient, brca_snv_simplified)
    
    if patient_snv.empty:
        print(patient)

  0%|          | 0/985 [00:00<?, ?it/s]

In [ ]:
	Q9C0D5:TANC1

In [81]:
brca_patients_actual[10]

'TCGA-A1-A0SF'

In [93]:
for patient in brca_patients_actual:
    if not get_patient_snv(patient, brca_snv_simplified)[
        get_patient_snv(patient, brca_snv_simplified)["SWISSPROT"] == "A0AVT1"
    ].empty:
        print(patient)
        display(
            get_this_protein_from_this_patient_snv(
                "A0AVT1", get_patient_snv(patient, brca_snv_simplified)
            )
        )

TCGA-AN-A0FF

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
3201        UBA6    A0AVT1       T222M         TCGA-AN-A0FF

TCGA-AO-A03O

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21048        UBA6    A0AVT1       S138F         TCGA-AO-A03O

TCGA-AR-A0TX

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
6093        UBA6    A0AVT1       Q167H         TCGA-AR-A0TX

TCGA-AR-A0TY

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
20693        UBA6    A0AVT1       K991N         TCGA-AR-A0TY

TCGA-BH-A1F8

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
33280        UBA6    A0AVT1      T1017A         TCGA-BH-A1F8

TCGA-C8-A26Y

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
19042        UBA6    A0AVT1       G440E         TCGA-C8-A26Y

TCGA-E9-A1ND

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
14775        UBA6    A0AVT1       Q793H         TCGA-E9-A1ND

TCGA-E9-A22E

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
9768        UBA6    A0AVT1       L719I         TCGA-E9-A22E

TCGA-EW-A1IZ

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
35208        UBA6    A0AVT1       R341H         TCGA-EW-A1IZ

In [98]:
for patient in brca_patients_actual:
    if not get_patient_snv(patient, brca_snv_simplified)[
        get_patient_snv(patient, brca_snv_simplified)["SWISSPROT"] == "Q9C0D5"
    ].empty:
        print(patient)
        display(
            get_this_protein_from_this_patient_snv(
                "Q9C0D5", get_patient_snv(patient, brca_snv_simplified)
            )
        )

TCGA-A1-A0SO

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21204       TANC1    Q9C0D5      A1396P         TCGA-A1-A0SO

TCGA-A2-A04P

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
28676       TANC1    Q9C0D5       M811I         TCGA-A2-A04P

TCGA-AN-A046

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
43824       TANC1    Q9C0D5      A1087T         TCGA-AN-A046
43825       TANC1    Q9C0D5      R1346Q         TCGA-AN-A046

TCGA-AQ-A04H

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
14082       TANC1    Q9C0D5      R1346Q         TCGA-AQ-A04H

TCGA-D8-A1XK

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
1106       TANC1    Q9C0D5       I226N         TCGA-D8-A1XK

TCGA-E2-A14Z

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
49967       TANC1    Q9C0D5      L1826V         TCGA-E2-A14Z

TCGA-E2-A1L7

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
13127       TANC1    Q9C0D5       A288V         TCGA-E2-A1L7

TCGA-EW-A1J5

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
29767       TANC1    Q9C0D5       E752Q         TCGA-EW-A1J5

In [96]:
i = 0
for patient in brca_patients_actual:
    if not get_patient_snv(patient, brca_snv_simplified)[
        get_patient_snv(patient, brca_snv_simplified)["SWISSPROT"] == "P04637"
    ].empty:
        i += 1
        print('\n', i, ' - ', patient)
        display(
            get_this_protein_from_this_patient_snv(
                "P04637", get_patient_snv(patient, brca_snv_simplified)
            )
        )

 1  -  TCGA-A1-A0SI

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
42737        TP53    P04637       R175H         TCGA-A1-A0SI

 2  -  TCGA-A1-A0SK

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
28572        TP53    P04637       M133K         TCGA-A1-A0SK

 3  -  TCGA-A1-A0SO

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21332        TP53    P04637       Y220C         TCGA-A1-A0SO

 4  -  TCGA-A2-A04T

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21151        TP53    P04637       R273H         TCGA-A2-A04T
21152        TP53    P04637       D208G         TCGA-A2-A04T

 5  -  TCGA-A2-A04W

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
24027        TP53    P04637       V272M         TCGA-A2-A04W

 6  -  TCGA-A2-A0CL

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
9046        TP53    P04637       R273L         TCGA-A2-A0CL

 7  -  TCGA-A2-A0EY

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
48664        TP53    P04637       Y234C         TCGA-A2-A0EY

 8  -  TCGA-A2-A0ST

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
34110        TP53    P04637       Y163C         TCGA-A2-A0ST

 9  -  TCGA-A2-A0SW

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
37019        TP53    P04637       R273C         TCGA-A2-A0SW

 10  -  TCGA-A2-A0SX

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
9936        TP53    P04637       G199V         TCGA-A2-A0SX

 11  -  TCGA-A2-A0T1

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
12811        TP53    P04637       R273C         TCGA-A2-A0T1

 12  -  TCGA-A2-A0T2

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
11166        TP53    P04637       Y220C         TCGA-A2-A0T2

 13  -  TCGA-A2-A0YH

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
3098        TP53    P04637       P278L         TCGA-A2-A0YH

 14  -  TCGA-A2-A0YT

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
26628        TP53    P04637       I255S         TCGA-A2-A0YT

 15  -  TCGA-A2-A3XT

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
43131        TP53    P04637       C135R         TCGA-A2-A3XT

 16  -  TCGA-A2-A3XV

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
22547        TP53    P04637       C135F         TCGA-A2-A3XV

 17  -  TCGA-A2-A3XX

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
23792        TP53    P04637       L111P         TCGA-A2-A3XX

 18  -  TCGA-A2-A4S1

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
26016        TP53    P04637       R280S         TCGA-A2-A4S1

 19  -  TCGA-A2-A4S3

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
24520        TP53    P04637       K132E         TCGA-A2-A4S3

 20  -  TCGA-A7-A0CE

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
2533        TP53    P04637       T155P         TCGA-A7-A0CE

 21  -  TCGA-A7-A0CJ

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
56549        TP53    P04637       R175H         TCGA-A7-A0CJ

 22  -  TCGA-A7-A0DA

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21736        TP53    P04637       I195T         TCGA-A7-A0DA

 23  -  TCGA-A7-A13E

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
15996        TP53    P04637       R175H         TCGA-A7-A13E

 24  -  TCGA-A7-A26F

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
3898        TP53    P04637       C176F         TCGA-A7-A26F

 25  -  TCGA-A7-A26G

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
31657        TP53    P04637       Y220H         TCGA-A7-A26G

 26  -  TCGA-A7-A26I

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
23749        TP53    P04637       G266E         TCGA-A7-A26I

 27  -  TCGA-A7-A4SD

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
33710        TP53    P04637       M237I         TCGA-A7-A4SD

 28  -  TCGA-A7-A6VW

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
4695        TP53    P04637       H179R         TCGA-A7-A6VW

 29  -  TCGA-A7-A6VX

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
4782        TP53    P04637       P250L         TCGA-A7-A6VX

 30  -  TCGA-A8-A06O

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
22182        TP53    P04637       G279E         TCGA-A8-A06O

 31  -  TCGA-A8-A06Q

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
54576        TP53    P04637       C238Y         TCGA-A8-A06Q

 32  -  TCGA-A8-A079

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
58490        TP53    P04637       S215I         TCGA-A8-A079

 33  -  TCGA-A8-A07W

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
54832        TP53    P04637       H179R         TCGA-A8-A07W

 34  -  TCGA-A8-A081

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
26423        TP53    P04637       C141Y         TCGA-A8-A081

 35  -  TCGA-A8-A08X

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
33540        TP53    P04637       C176F         TCGA-A8-A08X

 36  -  TCGA-A8-A092

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
17404        TP53    P04637       C238Y         TCGA-A8-A092

 37  -  TCGA-A8-A09N

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
1938        TP53    P04637       H193R         TCGA-A8-A09N

 38  -  TCGA-A8-A09X

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
22237        TP53    P04637       M246I         TCGA-A8-A09X

 39  -  TCGA-AC-A2BK

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
57035        TP53    P04637       S215I         TCGA-AC-A2BK

 40  -  TCGA-AC-A2QH

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
37179        TP53    P04637       D281Y         TCGA-AC-A2QH

 41  -  TCGA-AC-A5EH

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
5470        TP53    P04637       L194R         TCGA-AC-A5EH

 42  -  TCGA-AC-A5XU

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
33163        TP53    P04637       R342P         TCGA-AC-A5XU

 43  -  TCGA-AC-A62X

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
8778        TP53    P04637       I195T         TCGA-AC-A62X

 44  -  TCGA-AC-A6IW

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
12657        TP53    P04637       R175H         TCGA-AC-A6IW

 45  -  TCGA-AC-A7VC

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
42370        TP53    P04637       P278S         TCGA-AC-A7VC

 46  -  TCGA-AN-A046

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
46498        TP53    P04637        E11K         TCGA-AN-A046

 47  -  TCGA-AN-A04C

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
34187        TP53    P04637       H179R         TCGA-AN-A04C

 48  -  TCGA-AN-A0AL

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
56384        TP53    P04637       R175H         TCGA-AN-A0AL

 49  -  TCGA-AN-A0FT

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
52375        TP53    P04637       H193R         TCGA-AN-A0FT

 50  -  TCGA-AN-A0FV

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
53506        TP53    P04637       L252P         TCGA-AN-A0FV

 51  -  TCGA-AN-A0FX

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
25215        TP53    P04637       R248W         TCGA-AN-A0FX

 52  -  TCGA-AN-A0FY

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
51930        TP53    P04637       V173M         TCGA-AN-A0FY

 53  -  TCGA-AO-A03O

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21081        TP53    P04637       R175H         TCGA-AO-A03O

 54  -  TCGA-AO-A03R

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
1880        TP53    P04637       L265R         TCGA-AO-A03R

 55  -  TCGA-AO-A03V

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
5220        TP53    P04637       G245D         TCGA-AO-A03V

 56  -  TCGA-AO-A0J2

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
56742        TP53    P04637       R175H         TCGA-AO-A0J2

 57  -  TCGA-AO-A0J4

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
57786        TP53    P04637       R282W         TCGA-AO-A0J4

 58  -  TCGA-AO-A0JD

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
42022        TP53    P04637       H193L         TCGA-AO-A0JD

 59  -  TCGA-AO-A0JE

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
35420        TP53    P04637       Y220C         TCGA-AO-A0JE

 60  -  TCGA-AQ-A04H

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
14112        TP53    P04637       V197G         TCGA-AQ-A04H

 61  -  TCGA-AQ-A04J

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
17078        TP53    P04637       L111P         TCGA-AQ-A04J

 62  -  TCGA-AR-A0TP

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
5306        TP53    P04637       R273P         TCGA-AR-A0TP

 63  -  TCGA-AR-A0TV

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
49301        TP53    P04637       V216M         TCGA-AR-A0TV

 64  -  TCGA-AR-A0TX

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
6205        TP53    P04637       Y205C         TCGA-AR-A0TX

 65  -  TCGA-AR-A0U0

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
50231        TP53    P04637       L194R         TCGA-AR-A0U0

 66  -  TCGA-AR-A0U1

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
56143        TP53    P04637       Y220C         TCGA-AR-A0U1

 67  -  TCGA-AR-A0U2

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
4341        TP53    P04637       C176F         TCGA-AR-A0U2

 68  -  TCGA-AR-A1AI

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
50373        TP53    P04637       F270I         TCGA-AR-A1AI

 69  -  TCGA-AR-A1AJ

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
12539        TP53    P04637       R273H         TCGA-AR-A1AJ

 70  -  TCGA-AR-A1AS

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
38395        TP53    P04637       R175H         TCGA-AR-A1AS

 71  -  TCGA-AR-A1AW

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
31681        TP53    P04637       R273C         TCGA-AR-A1AW

 72  -  TCGA-AR-A1AX

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
30906        TP53    P04637       L111Q         TCGA-AR-A1AX

 73  -  TCGA-AR-A24P

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
15868        TP53    P04637       Y234C         TCGA-AR-A24P

 74  -  TCGA-AR-A24S

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
38462        TP53    P04637       D281V         TCGA-AR-A24S

 75  -  TCGA-AR-A24T

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
11691        TP53    P04637       R273H         TCGA-AR-A24T

 76  -  TCGA-AR-A251

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
8887        TP53    P04637       E285K         TCGA-AR-A251

 77  -  TCGA-AR-A2LH

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21550        TP53    P04637       R273H         TCGA-AR-A2LH

 78  -  TCGA-B6-A0I1

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
4908        TP53    P04637       R248Q         TCGA-B6-A0I1

 79  -  TCGA-B6-A0I9

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
57521        TP53    P04637       C135Y         TCGA-B6-A0I9

 80  -  TCGA-B6-A0IJ

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
11982        TP53    P04637       Y220C         TCGA-B6-A0IJ

 81  -  TCGA-B6-A0IK

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
48981        TP53    P04637       L194R         TCGA-B6-A0IK

 82  -  TCGA-B6-A0RH

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
12754        TP53    P04637       Y220S         TCGA-B6-A0RH

 83  -  TCGA-B6-A0RS

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
33447        TP53    P04637       R273C         TCGA-B6-A0RS

 84  -  TCGA-B6-A0RT

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
29006        TP53    P04637       P278T         TCGA-B6-A0RT

 85  -  TCGA-B6-A0WX

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
53203        TP53    P04637       R248W         TCGA-B6-A0WX

 86  -  TCGA-B6-A1KN

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
19602        TP53    P04637       L265P         TCGA-B6-A1KN

 87  -  TCGA-B6-A401

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
23906        TP53    P04637       R175H         TCGA-B6-A401

 88  -  TCGA-BH-A0AV

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
55996        TP53    P04637       R248Q         TCGA-BH-A0AV

 89  -  TCGA-BH-A0AW

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
32883        TP53    P04637       F270S         TCGA-BH-A0AW

 90  -  TCGA-BH-A0B0

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
16624        TP53    P04637       R175H         TCGA-BH-A0B0

 91  -  TCGA-BH-A0B3

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
34870        TP53    P04637       V216M         TCGA-BH-A0B3

 92  -  TCGA-BH-A0B9

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
11145        TP53    P04637       P278T         TCGA-BH-A0B9

 93  -  TCGA-BH-A0BC

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
54367        TP53    P04637       R248W         TCGA-BH-A0BC

 94  -  TCGA-BH-A0BF

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
34469        TP53    P04637       G245S         TCGA-BH-A0BF

 95  -  TCGA-BH-A0BL

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
56600        TP53    P04637       P151H         TCGA-BH-A0BL

 96  -  TCGA-BH-A0BP

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
16416        TP53    P04637       K132N         TCGA-BH-A0BP

 97  -  TCGA-BH-A0BR

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
2968        TP53    P04637       V274F         TCGA-BH-A0BR

 98  -  TCGA-BH-A0BT

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
14750        TP53    P04637       R158G         TCGA-BH-A0BT

 99  -  TCGA-BH-A0C3

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
49722        TP53    P04637       G187S         TCGA-BH-A0C3

 100  -  TCGA-BH-A0DL

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
34608        TP53    P04637       E286A         TCGA-BH-A0DL

 101  -  TCGA-BH-A0DZ

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
56926        TP53    P04637       E258Q         TCGA-BH-A0DZ

 102  -  TCGA-BH-A0E0

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
55099        TP53    P04637       R175H         TCGA-BH-A0E0

 103  -  TCGA-BH-A0EB

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
51887        TP53    P04637       C176F         TCGA-BH-A0EB

 104  -  TCGA-BH-A0GY

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
5265        TP53    P04637       R175H         TCGA-BH-A0GY

 105  -  TCGA-BH-A0H7

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
9600        TP53    P04637       G245D         TCGA-BH-A0H7

 106  -  TCGA-BH-A0HX

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
15752        TP53    P04637       C135W         TCGA-BH-A0HX

 107  -  TCGA-BH-A0HY

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
38132        TP53    P04637       G245D         TCGA-BH-A0HY

 108  -  TCGA-BH-A0WA

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
24279        TP53    P04637       S241C         TCGA-BH-A0WA

 109  -  TCGA-BH-A18T

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
59550        TP53    P04637       Y107D         TCGA-BH-A18T

 110  -  TCGA-BH-A1EY

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
12834        TP53    P04637       Y126C         TCGA-BH-A1EY

 111  -  TCGA-BH-A1F2

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
36839        TP53    P04637       E285K         TCGA-BH-A1F2

 112  -  TCGA-BH-A1F6

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
14148        TP53    P04637       S127P         TCGA-BH-A1F6

 113  -  TCGA-BH-A1FD

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
31978        TP53    P04637       V173L         TCGA-BH-A1FD

 114  -  TCGA-BH-A1FE

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
29710        TP53    P04637       N247I         TCGA-BH-A1FE

 115  -  TCGA-BH-A1FN

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
47964        TP53    P04637       R280T         TCGA-BH-A1FN

 116  -  TCGA-BH-A1FU

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
50716        TP53    P04637       R175H         TCGA-BH-A1FU

 117  -  TCGA-BH-A203

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
7448        TP53    P04637       R273H         TCGA-BH-A203

 118  -  TCGA-BH-A5IZ

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
14376        TP53    P04637       R273H         TCGA-BH-A5IZ

 119  -  TCGA-C8-A12K

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
5091        TP53    P04637       I195T         TCGA-C8-A12K

 120  -  TCGA-C8-A12L

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
32761        TP53    P04637       C238F         TCGA-C8-A12L

 121  -  TCGA-C8-A12O

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
49653        TP53    P04637       R273H         TCGA-C8-A12O

 122  -  TCGA-C8-A12P

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
17747        TP53    P04637       R248W         TCGA-C8-A12P

 123  -  TCGA-C8-A12Q

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
50594        TP53    P04637       Y205N         TCGA-C8-A12Q

 124  -  TCGA-C8-A12W

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
2600        TP53    P04637       H193Y         TCGA-C8-A12W

 125  -  TCGA-C8-A12Z

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
48751        TP53    P04637       R342P         TCGA-C8-A12Z

 126  -  TCGA-C8-A131

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21926        TP53    P04637       R175H         TCGA-C8-A131

 127  -  TCGA-C8-A134

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
5380        TP53    P04637       R273H         TCGA-C8-A134

 128  -  TCGA-C8-A1HF

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
36038        TP53    P04637       H179Y         TCGA-C8-A1HF

 129  -  TCGA-C8-A1HG

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
43164        TP53    P04637       C141R         TCGA-C8-A1HG

 130  -  TCGA-C8-A1HM

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
53087        TP53    P04637       L194P         TCGA-C8-A1HM

 131  -  TCGA-C8-A26V

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21874        TP53    P04637       I232S         TCGA-C8-A26V

 132  -  TCGA-C8-A26W

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
11500        TP53    P04637       R273L         TCGA-C8-A26W

 133  -  TCGA-C8-A26X

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
50939        TP53    P04637       V173M         TCGA-C8-A26X

 134  -  TCGA-C8-A275

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
53820        TP53    P04637       G266E         TCGA-C8-A275

 135  -  TCGA-C8-A278

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
36300        TP53    P04637       H168P         TCGA-C8-A278

 136  -  TCGA-C8-A27A

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
24757        TP53    P04637       G199V         TCGA-C8-A27A

 137  -  TCGA-C8-A27B

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
5581        TP53    P04637       H193R         TCGA-C8-A27B

 138  -  TCGA-D8-A13Z

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
34261        TP53    P04637       C141Y         TCGA-D8-A13Z

 139  -  TCGA-D8-A142

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
9358        TP53    P04637       P278A         TCGA-D8-A142

 140  -  TCGA-D8-A147

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
11822        TP53    P04637       C176F         TCGA-D8-A147

 141  -  TCGA-D8-A1J9

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
12458        TP53    P04637       V173L         TCGA-D8-A1J9

 142  -  TCGA-D8-A1JF

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
23175        TP53    P04637       H179R         TCGA-D8-A1JF

 143  -  TCGA-D8-A1JJ

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
57620        TP53    P04637       C141Y         TCGA-D8-A1JJ

 144  -  TCGA-D8-A1JL

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
33675        TP53    P04637       H193L         TCGA-D8-A1JL

 145  -  TCGA-D8-A1JM

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
31712        TP53    P04637       R273H         TCGA-D8-A1JM

 146  -  TCGA-D8-A1X5

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
26202        TP53    P04637       C238F         TCGA-D8-A1X5

 147  -  TCGA-D8-A1XJ

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
14248        TP53    P04637       R282G         TCGA-D8-A1XJ

 148  -  TCGA-D8-A1XL

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
41924        TP53    P04637       R248W         TCGA-D8-A1XL

 149  -  TCGA-D8-A1XT

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
57405        TP53    P04637       A276P         TCGA-D8-A1XT

 150  -  TCGA-D8-A1XW

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
23848        TP53    P04637       Y126N         TCGA-D8-A1XW

 151  -  TCGA-D8-A27N

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
32924        TP53    P04637       R175H         TCGA-D8-A27N

 152  -  TCGA-E2-A14P

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
24801        TP53    P04637       V157F         TCGA-E2-A14P

 153  -  TCGA-E2-A14R

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
9904        TP53    P04637       I195T         TCGA-E2-A14R

 154  -  TCGA-E2-A14Y

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
57086        TP53    P04637       Q136E         TCGA-E2-A14Y

 155  -  TCGA-E2-A14Z

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
49999        TP53    P04637       R282W         TCGA-E2-A14Z

 156  -  TCGA-E2-A152

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
19951        TP53    P04637       K132E         TCGA-E2-A152

 157  -  TCGA-E2-A158

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
34344        TP53    P04637       I195T         TCGA-E2-A158

 158  -  TCGA-E2-A159

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
10051        TP53    P04637       V216M         TCGA-E2-A159

 159  -  TCGA-E2-A15E

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
2257        TP53    P04637       H193R         TCGA-E2-A15E

 160  -  TCGA-E2-A15M

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
16068        TP53    P04637       L130V         TCGA-E2-A15M

 161  -  TCGA-E2-A1B0

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
34137        TP53    P04637       K132N         TCGA-E2-A1B0

 162  -  TCGA-E2-A1B1

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
13552        TP53    P04637        P27S         TCGA-E2-A1B1

 163  -  TCGA-E2-A1IN

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
22472        TP53    P04637       V157G         TCGA-E2-A1IN

 164  -  TCGA-E2-A1L7

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
13158        TP53    P04637       I255F         TCGA-E2-A1L7

 165  -  TCGA-E2-A1LH

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
35999        TP53    P04637       K132T         TCGA-E2-A1LH

 166  -  TCGA-E2-A1LS

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
52551        TP53    P04637       E286K         TCGA-E2-A1LS

 167  -  TCGA-E2-A573

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
56464        TP53    P04637       Y220C         TCGA-E2-A573

 168  -  TCGA-E2-A574

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
12960        TP53    P04637       R248Q         TCGA-E2-A574

 169  -  TCGA-E2-A9RU

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
25486        TP53    P04637       F113C         TCGA-E2-A9RU

 170  -  TCGA-E9-A1N5

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
57553        TP53    P04637       H193R         TCGA-E9-A1N5

 171  -  TCGA-E9-A1NC

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
52814        TP53    P04637       R273H         TCGA-E9-A1NC

 172  -  TCGA-E9-A1ND

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
14812        TP53    P04637       Y220C         TCGA-E9-A1ND

 173  -  TCGA-E9-A1NF

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
14186        TP53    P04637       F113C         TCGA-E9-A1NF

 174  -  TCGA-E9-A1RB

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
54342        TP53    P04637       E286Q         TCGA-E9-A1RB

 175  -  TCGA-E9-A22E

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
9807        TP53    P04637       G245S         TCGA-E9-A22E

 176  -  TCGA-E9-A243

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
9733        TP53    P04637       Y220S         TCGA-E9-A243

 177  -  TCGA-E9-A244

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
24652        TP53    P04637       R175H         TCGA-E9-A244

 178  -  TCGA-E9-A5FL

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
48286        TP53    P04637       H193R         TCGA-E9-A5FL

 179  -  TCGA-EW-A1P1

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
36591        TP53    P04637       R273H         TCGA-EW-A1P1

 180  -  TCGA-EW-A1P4

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
31786        TP53    P04637       H179R         TCGA-EW-A1P4

 181  -  TCGA-EW-A1P8

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
32516        TP53    P04637       R282W         TCGA-EW-A1P8

 182  -  TCGA-EW-A1PB

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
59704        TP53    P04637       Y163C         TCGA-EW-A1PB

 183  -  TCGA-EW-A2FR

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
13607        TP53    P04637       R175H         TCGA-EW-A2FR

 184  -  TCGA-EW-A6S9

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
49628        TP53    P04637       H179R         TCGA-EW-A6S9

 185  -  TCGA-EW-A6SB

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
59458        TP53    P04637       R282W         TCGA-EW-A6SB

 186  -  TCGA-GM-A2DD

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
33511        TP53    P04637       R175H         TCGA-GM-A2DD

 187  -  TCGA-GM-A2DH

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
3779        TP53    P04637       T253S         TCGA-GM-A2DH

 188  -  TCGA-GM-A2DL

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
34387        TP53    P04637       D281E         TCGA-GM-A2DL

 189  -  TCGA-LD-A74U

    Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
354        TP53    P04637       R280K         TCGA-LD-A74U

 190  -  TCGA-LD-A7W5

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
53359        TP53    P04637       L257R         TCGA-LD-A7W5

 191  -  TCGA-LL-A5YO

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
2633        TP53    P04637       L194R         TCGA-LL-A5YO

 192  -  TCGA-LL-A5YP

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
42304        TP53    P04637       R280K         TCGA-LL-A5YP

 193  -  TCGA-LL-A6FR

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
32787        TP53    P04637       R273H         TCGA-LL-A6FR

 194  -  TCGA-LL-A8F5

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21454        TP53    P04637       R273L         TCGA-LL-A8F5

 195  -  TCGA-OL-A5D6

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
56029        TP53    P04637       C242G         TCGA-OL-A5D6

 196  -  TCGA-OL-A5D7

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
33001        TP53    P04637       V272M         TCGA-OL-A5D7

 197  -  TCGA-OL-A5RY

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
19821        TP53    P04637       H179Q         TCGA-OL-A5RY

 198  -  TCGA-OL-A6VO

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
59479        TP53    P04637       V157D         TCGA-OL-A6VO

 199  -  TCGA-PE-A5DE

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
60013        TP53    P04637       M169I         TCGA-PE-A5DE

 200  -  TCGA-PL-A8LV

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
34749        TP53    P04637       C275Y         TCGA-PL-A8LV

 201  -  TCGA-PL-A8LZ

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
8965        TP53    P04637       R175H         TCGA-PL-A8LZ

 202  -  TCGA-S3-AA0Z

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
9267        TP53    P04637       S127Y         TCGA-S3-AA0Z

 203  -  TCGA-UU-A93S

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
26343        TP53    P04637       Q136P         TCGA-UU-A93S

 204  -  TCGA-Z7-A8R6

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
23359        TP53    P04637       E285K         TCGA-Z7-A8R6

In [87]:
def get_this_protein_from_this_patient_snv(protein, patient_snv):
    data = patient_snv[
        patient_snv["SWISSPROT"] == protein
    ]
    
    return data

In [90]:
get_this_protein_from_this_patient_snv(
    "A0AVT1", get_patient_snv("TCGA-AN-A0FF", brca_snv_simplified)
)

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
3201        UBA6    A0AVT1       T222M         TCGA-AN-A0FF

In [91]:
get_this_protein_from_this_patient_snv(
    "A0AVT1", get_patient_snv("TCGA-AO-A03O", brca_snv_simplified)
)

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21048        UBA6    A0AVT1       S138F         TCGA-AO-A03O

In [90]:
get_this_protein_from_this_patient_snv(
    "A0AVT1", get_patient_snv("TCGA-AN-A0FF", brca_snv_simplified)
)

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
3201        UBA6    A0AVT1       T222M         TCGA-AN-A0FF

In [66]:
snv_TCGA_AN_A046 = get_patient_snv("TCGA-AN-A046", brca_snv_simplified)
snv_TCGA_AN_A046[
    snv_TCGA_AN_A046["SWISSPROT"] == "Q9C0D5"
]

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
43824       TANC1    Q9C0D5      A1087T         TCGA-AN-A046
43825       TANC1    Q9C0D5      R1346Q         TCGA-AN-A046

In [67]:
is_core("Q9C0D5", "A1087T", brca_core_data_original)

False

In [68]:
is_core("Q9C0D5", "R1346Q", brca_core_data_original)

True

In [74]:
brca_interface_data_original[
    (brca_interface_data_original["UniProt_ID"] == "Q9C0D5") &
    (brca_interface_data_original["Mutation"] == "A1087T")
][["UniProt_ID", "Mutation", "Interactor_UniProt_ID"]]

     UniProt_ID Mutation Interactor_UniProt_ID
5170     Q9C0D5   A1087T                O14936
5171     Q9C0D5   A1087T              O14936-2
5172     Q9C0D5   A1087T              O14936-3
5173     Q9C0D5   A1087T              O14936-4
5174     Q9C0D5   A1087T              O14936-6
5175     Q9C0D5   A1087T                Q9UQM7
5176     Q9C0D5   A1087T              Q9UQM7-2

In [76]:
brca_core_data_original[
    (brca_core_data_original["UniProt_ID"] == "Q9C0D5") &
    (brca_core_data_original["Mutation"] == "A1087T")
][["UniProt_ID", "Mutation", "Interactor_UniProt_ID"]]

Empty DataFrame
Columns: [UniProt_ID, Mutation, Interactor_UniProt_ID]
Index: []

In [75]:
brca_interface_data_original[
    (brca_interface_data_original["UniProt_ID"] == "Q9C0D5") &
    (brca_interface_data_original["Mutation"] == "R1346Q")
][["UniProt_ID", "Mutation", "Interactor_UniProt_ID"]]

Empty DataFrame
Columns: [UniProt_ID, Mutation, Interactor_UniProt_ID]
Index: []

In [77]:
brca_core_data_original[
    (brca_core_data_original["UniProt_ID"] == "Q9C0D5") &
    (brca_core_data_original["Mutation"] == "R1346Q")
][["UniProt_ID", "Mutation", "Interactor_UniProt_ID"]]

      UniProt_ID Mutation Interactor_UniProt_ID
12517     Q9C0D5   R1346Q                     -

In [101]:
tp53_patient_interaction_data_patients = set(
    [
        "TCGA-LD-A74U",
        "TCGA-A7-A26F",
        "TCGA-AR-A0U2",
        "TCGA-A7-A6VW",
        "TCGA-A7-A6VX",
        "TCGA-B6-A0I1",
        "TCGA-AR-A0TP",
        "TCGA-C8-A134",
        "TCGA-BH-A203",
        "TCGA-A2-A0CL",
        "TCGA-C8-A26W",
        "TCGA-AR-A24T",
        "TCGA-D8-A147",
        "TCGA-AR-A1AJ",
        "TCGA-A2-A0T1",
        "TCGA-E2-A574",
        "TCGA-E2-A1B1",
        "TCGA-BH-A5IZ",
        "TCGA-C8-A12P",
        "TCGA-OL-A5RY",
        "TCGA-A2-A04T",
        "TCGA-LL-A8F5",
        "TCGA-AR-A2LH",
        "TCGA-A8-A09X",
        "TCGA-D8-A1JF",
        "TCGA-BH-A0WA",
        "TCGA-AN-A0FX",
        "TCGA-A2-A4S1",
        "TCGA-UU-A93S",
        "TCGA-BH-A1FE",
        "TCGA-AR-A1AW",
        "TCGA-D8-A1JM",
        "TCGA-EW-A1P4",
        "TCGA-LL-A6FR",
        "TCGA-B6-A0RS",
        "TCGA-A8-A08X",
        "TCGA-AN-A04C",
        "TCGA-PL-A8LV",
        "TCGA-C8-A1HF",
        "TCGA-C8-A278",
        "TCGA-EW-A1P1",
        "TCGA-A2-A0SW",
        "TCGA-D8-A1XL",
        "TCGA-LL-A5YP",
        "TCGA-BH-A1FN",
        "TCGA-EW-A6S9",
        "TCGA-C8-A12O",
        "TCGA-BH-A0C3",
        "TCGA-BH-A0EB",
        "TCGA-E9-A1NC",
        "TCGA-B6-A0WX",
        "TCGA-BH-A0BC",
        "TCGA-A8-A07W",
        "TCGA-BH-A0AV",
        "TCGA-OL-A5D6",
        "TCGA-D8-A1XT"
    ]
)

In [102]:
print(len(tp53_patient_interaction_data_patients))

56

In [103]:
tp53_patients_patient_interface_count = set(
    [
        "TCGA-A2-A0CL",
        "TCGA-A2-A0SW",
        "TCGA-A2-A0T1",
        "TCGA-A2-A4S1",
        "TCGA-A7-A26F",
        "TCGA-A7-A6VW",
        "TCGA-A7-A6VX",
        "TCGA-A8-A07W",
        "TCGA-A8-A08X",
        "TCGA-A8-A09X",
        "TCGA-AN-A04C",
        "TCGA-AN-A0FX",
        "TCGA-AR-A0TP",
        "TCGA-AR-A0U2",
        "TCGA-AR-A1AJ",
        "TCGA-AR-A1AW",
        "TCGA-AR-A24T",
        "TCGA-AR-A2LH",
        "TCGA-B6-A0I1",
        "TCGA-B6-A0RS",
        "TCGA-B6-A0WX",
        "TCGA-BH-A0AV",
        "TCGA-BH-A0BC",
        "TCGA-BH-A0C3",
        "TCGA-BH-A0EB",
        "TCGA-BH-A0WA",
        "TCGA-BH-A1FE",
        "TCGA-BH-A1FN",
        "TCGA-BH-A203",
        "TCGA-BH-A5IZ",
        "TCGA-C8-A12O",
        "TCGA-C8-A12P",
        "TCGA-C8-A134",
        "TCGA-C8-A1HF",
        "TCGA-C8-A26W",
        "TCGA-C8-A278",
        "TCGA-D8-A147",
        "TCGA-D8-A1JF",
        "TCGA-D8-A1JM",
        "TCGA-D8-A1XL",
        "TCGA-D8-A1XT",
        "TCGA-E2-A1B1",
        "TCGA-E2-A574",
        "TCGA-E9-A1NC",
        "TCGA-EW-A1P1",
        "TCGA-EW-A1P4",
        "TCGA-EW-A6S9",
        "TCGA-LD-A74U",
        "TCGA-LL-A5YP",
        "TCGA-LL-A6FR",
        "TCGA-LL-A8F5",
        "TCGA-OL-A5D6",
        "TCGA-OL-A5RY",
        "TCGA-PL-A8LV",
        "TCGA-UU-A93S",
    ]
)

In [104]:
print(len(tp53_patients_patient_interface_count))

55

In [126]:
tp53_patient_interaction_data_patients - tp53_patients_patient_interface_count

{'TCGA-A2-A04T'}

In [110]:
tp53_patient_interaction_data_patients ^ tp53_patients_patient_interface_count

{'TCGA-A2-A04T'}

In [111]:
get_this_protein_from_this_patient_snv(
    "P04637", 
    get_patient_snv("TCGA-A2-A04T", brca_snv_simplified)
)

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21151        TP53    P04637       R273H         TCGA-A2-A04T
21152        TP53    P04637       D208G         TCGA-A2-A04T

In [ ]:
'TCGA-A2-A04T'
"TCGA-A7-A6VX"

In [122]:
get_this_protein_from_this_patient_snv(
    "P04637", 
    get_patient_snv("TCGA-A7-A6VX", brca_snv_simplified)
)

     Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
4782        TP53    P04637       P250L         TCGA-A7-A6VX

In [125]:
is_core("P04637", "P250L", brca_core_data_original)

False

In [116]:
patient_protein_mutation_to_C_I_status = dict()

In [119]:
get_patient_protein_to_mutations_dict(get_patient_snv("TCGA-A2-A04T", brca_snv_simplified))

defaultdict(list,
            {'Q86SQ9': ['T278I'],
             'Q5TEC3': ['P34T'],
             'P57771': ['R71C'],
             'P08603': ['S1126L'],
             'Q9Y6M5': ['P288R'],
             'Q5VWZ2': ['G6W'],
             'Q8IY50': ['A104P'],
             'Q99698': ['Q3352P'],
             'Q12836': ['A112E'],
             'Q99814': ['P232T'],
             'P17081': ['T205M'],
             'Q6PI47': ['N423Y'],
             'P35503': ['P195S'],
             'P43251': ['V337M'],
             'P49221': ['T316I'],
             'Q9H5V8': ['C587F'],
             'P42336': ['H1047Y'],
             'P02765': ['G292V'],
             'Q6T311': ['L79S'],
             'Q7L099': ['L4V'],
             'Q8WXG9': ['E110K'],
             'Q9NU22': ['L423F'],
             'P17029': ['L77V'],
             'Q6ZU65': ['Q495K'],
             'Q6ZMT4': ['N518S'],
             'Q6IF42': ['P57R'],
             'O60934': ['S213L'],
             'Q99575': ['F1017L'],
             'Q9NX95': ['S188W'],
             'Q99678': ['R24L'],
             'Q15397': ['K436Q'],
             'Q96PU4': ['G106R'],
             'Q5VYK3': ['T429S'],
             'Q05193': ['V124F'],
             'Q9H694': ['L405S'],
             'Q12851': ['S755C'],
             'Q14392': ['Y324C'],
             'Q9P2H0': ['S547C'],
             'O75969': ['S282R'],
             'Q3KR16': ['R767P'],
             'P02812': ['G105E'],
             'Q6ZN18': ['S238N'],
             'P35908': ['D234N'],
             'Q8IVL0': ['M2156V'],
             'P11586': ['P270A'],
             'Q9P219': ['E1332Q'],
             'Q9BVQ7': ['L484R'],
             'Q8TDJ6': ['V586L'],
             'P04637': ['R273H', 'D208G'],
             'Q8NFA0': ['D558H'],
             'Q10472': ['Q522H'],
             'P43146': ['P1086L'],
             'P17024': ['M36I'],
             'O95571': ['G123W'],
             'Q9UIE0': ['E88G'],
             'Q9P2U7': ['T352I'],
             'P28340': ['V312M'],
             'Q14324': ['D263H'],
             'Q9Y336': ['N280I'],
             'O14972': ['T265N'],
             'Q9P0X4': ['E1927D'],
             'Q9UN30': ['I9V'],
             'Q8NG27': ['H57Q'],
             'O00398': ['A104S'],
             'Q5H943': ['N34H'],
             'O43719': ['E205K'],
             'Q8IV76': ['R546W']})

In [ ]:
is_core()

In [117]:
get_this_protein_from_this_patient_snv(
    "P04637", 
    get_patient_snv("TCGA-A2-A04T", brca_snv_simplified)
)

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21151        TP53    P04637       R273H         TCGA-A2-A04T
21152        TP53    P04637       D208G         TCGA-A2-A04T

In [112]:
is_core("P04637", "R273H", brca_core_data_original)

False

In [113]:
is_core("P04637", "D208G", brca_core_data_original)

True

In [106]:
get_patient_snv("TCGA-A2-A04T", brca_snv_simplified)

      Hugo_Symbol SWISSPROT HGVSp_Short Tumor_Sample_Barcode
21103       DHDDS    Q86SQ9       T278I         TCGA-A2-A04T
21104      ZNF697    Q5TEC3        P34T         TCGA-A2-A04T
21105        RGS8    P57771        R71C         TCGA-A2-A04T
21106         CFH    P08603      S1126L         TCGA-A2-A04T
21107     SLC30A1    Q9Y6M5       P288R         TCGA-A2-A04T
...           ...       ...         ...                  ...
21166        PJA1    Q8NG27        H57Q         TCGA-A2-A04T
21167      P2RY10    O00398       A104S         TCGA-A2-A04T
21168        CT83    Q5H943        N34H         TCGA-A2-A04T
21169     HTATSF1    O43719       E205K         TCGA-A2-A04T
21170       PASD1    Q8IV76       R546W         TCGA-A2-A04T

[68 rows x 4 columns]

In [21]:
brca_patients_actual[3]

'TCGA-3C-AALK'

In [15]:
brca_patients_actual[12]

'TCGA-A1-A0SH'

In [61]:
from collections import defaultdict

In [62]:
proteins_to_num_interface_only_patients = defaultdict(int)

In [64]:
proteins_to_num_interface_only_patients

defaultdict(int, {})

In [42]:
for brca_patient in tqdm(brca_patients_actual[:1]):
    print(f"Patient: {brca_patient}")
    brca_patient_snv = get_patient_snv(brca_patient, brca_snv_simplified)
    brca_patient_protein_to_mutations = get_patient_protein_to_mutations_dict(brca_patient_snv)
    
    for protein, mutations in brca_patient_protein_to_mutations:
        for mutation in mutations:
            if core_found_mutations()

    proteins_to_num_interface_only_patients

  0%|          | 0/1 [00:00<?, ?it/s]

Patient: TCGA-3C-AAAU

In [45]:
from helpers.helpers_analysis.is_core import is_core

In [ ]:
def check_core_found(protein, mutation, core_data):

In [ ]:
is_core()

In [44]:
for protein, mutations in brca_patient_protein_to_mutations:
    for mutation in mutations:
        if core_found_mutations()

defaultdict(list,
            {'Q5TEC3': ['R435W'],
             'Q8N5C6': ['D491G'],
             'O60315': ['S890N'],
             'P00747': ['V291L'],
             'Q9UDT6': ['A576V'],
             'Q9UKM7': ['G536D'],
             'Q9HCU0': ['E678K'],
             'Q8TD10': ['M298V'],
             'Q6ZMP0': ['L733V'],
             'P01137': ['A360V'],
             'Q8NFZ8': ['D310Y'],
             'Q07020': ['T39N'],
             'O15488': ['A155V'],
             'Q96NR3': ['E869G']})

In [23]:
get_patient_protein_to_mutations_dict(
    get_patient_snv("TCGA-3C-AALK", brca_snv_simplified)
)

defaultdict(list,
            {'Q96E39': ['P160R'],
             'P49189': ['R454Q'],
             'Q8N801': ['V112L'],
             'Q5CZC0': ['C5812R'],
             'P25025': ['E300K'],
             'Q8IV35': ['R360H'],
             'P42336': ['E542K', 'M1004I'],
             'Q6P2P2': ['I165V'],
             'Q9NRA1': ['H306Y'],
             'Q9BZI1': ['A357V'],
             'Q9Y6N8': ['V320M'],
             'P20810': ['I369T'],
             'Q9Y5F2': ['S696L'],
             'Q6ZN57': ['R234I'],
             'Q99880': ['L4V'],
             'P35442': ['T16M'],
             'Q8IZS6': ['Y186C'],
             'Q7L9B9': ['S102N'],
             'O75127': ['R40Q'],
             'Q5H8C1': ['R507C'],
             'Q6NSJ0': ['P701L'],
             'Q14929': ['E76D'],
             'Q9P2V4': ['R20Q'],
             'Q05940': ['P114T'],
             'Q8NC01': ['M172I'],
             'P42226': ['L745V'],
             'O43592': ['I840N'],
             'O15040': ['R843C'],
             'O75376': ['P7S'],
             'Q8NFA0': ['D277N'],
             'Q9HBT6': ['E233K'],
             'Q14246': ['L257F'],
             'B7Z6K7': ['H213Y'],
             'Q9H4G0': ['S820C'],
             'O43526': ['L203M'],
             'Q2NKQ1': ['E748D'],
             'Q5TIA1': ['I383T'],
             'Q7Z6Z7': ['A889T']})

In [3]:
from helpers.helpers_analysis.is_core import is_core