# Science Paper Supp Table 05:

In [1]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 022C-93CC

 Directory of C:\Users\ibrah\Documents\GitHub\Predicting-Mutation-Effects\src\benchmark\Swaney_Science2021

11/07/2021  05:29 PM    <DIR>          .
11/07/2021  05:29 PM    <DIR>          ..
11/07/2021  05:24 PM    <DIR>          .ipynb_checkpoints
11/07/2021  03:41 PM            63,770 allresults_2021-11-07.txt
11/05/2021  06:47 PM               324 ELASPIC_input_2021-11-05.txt
11/07/2021  04:26 PM               324 ELASPIC_input_2021-11-07.txt
11/07/2021  05:28 PM           384,317 PredictionsSwaney.ipynb
11/07/2021  04:24 PM             5,255 Prepare_results.ipynb
11/06/2021  04:05 PM               220 readme.md
09/20/2021  02:02 PM           261,556 science.abf2911_Table_S5.xlsx
11/07/2021  05:28 PM            55,790 Swaney2021TableS5.ipynb
11/07/2021  05:29 PM             5,409 utils.py
11/07/2021  04:29 PM    <DIR>          __pycache__
               9 File(s)        776,965 bytes
               4 Dir(s)  198,117,642,240 bytes free

In [2]:
from utils import Swaney2021TableS5
import pandas as pd
from utils import ReadyResults

# Reflect changes in the modules immediately.
%load_ext autoreload
%autoreload 2

In [3]:
swaney = Swaney2021TableS5("science.abf2911_Table_S5.xlsx")

Loading sheets ..
Number of pairs: 23

In [4]:
swaney.pairs

{('P01112', 'G12D'),
 ('P04637', 'R248W'),
 ('P04637', 'R273H'),
 ('P28482', 'E322K'),
 ('P42336', 'C971R'),
 ('P42336', 'E110DEL'),
 ('P42336', 'E453K'),
 ('P42336', 'E542K'),
 ('P42336', 'E545G'),
 ('P42336', 'E545K'),
 ('P42336', 'E726K'),
 ('P42336', 'G1007R'),
 ('P42336', 'G363A'),
 ('P42336', 'H1047L'),
 ('P42336', 'H1047R'),
 ('P42336', 'K111E'),
 ('P42336', 'K111N'),
 ('P42336', 'M1043V'),
 ('P42336', 'R88Q'),
 ('P42336', 'V344G'),
 ('Q16236', 'E79K'),
 ('Q16236', 'E79Q'),
 ('Q969H0', 'R505G')}

In [5]:
interface_results = ReadyResults("allresults_2021-11-07.txt").get_interface_ready_results()

Separating Core and Interface entries ..
Core data dimensions: (3, 103)
Core data preview:
  UniProt_ID Mutation Interactor_UniProt_ID
0     P28482    E322K                     -
1     P42336    G363A                     -
2     P42336    K111N                     -

Interface data dimensions: (76, 103)
Interface data preview:
  UniProt_ID Mutation Interactor_UniProt_ID
0     P42336   M1043V                Q13535
1     P42336   M1043V              Q13535-2
2     P42336   M1043V              Q13535-3

Dropping duplicated entries ..
Size of dataframe before dropping duplicated entries: (3, 103)
Size of dataframe  after dropping duplicated entries: (3, 103)
Dropping self interactions ..
Dropping duplicated entries ..
Size of dataframe before dropping duplicated entries: (73, 103)
Size of dataframe  after dropping duplicated entries: (73, 103)

In [6]:
interface_results[
    (interface_results["UniProt_ID"] == "P01112") &
    (interface_results["Interactor_UniProt_ID"] == "P13995")   
]

Empty DataFrame
Columns: [Input_identifier, UniProt_ID, Mutation, Status, Type, COSMIC_mut_ID, ClinVar_mut_ID, UniProt_mut_ID, Domain_name, Domain_clan, Domain_definitions, Template_cath_id, Template_sequence_identity, Alignment_score, Interactor_UniProt_ID, Interactor_domain_name, Interactor_domain_clan, Interactor_domain_definitions, Interactor_template_cath_id, Interactor_template_sequence_identity, Interactor_alignment_score, Final_ddG, ProtBert_score, ProteinSolver_score, EL2_score, Model/DOPE_score, Provean_score, Matrix_score, Secondary_structure_wt, Secondary_structure_mut, Solvent_accessibility_wt, Solvent_accessibility_mut, pcv_salt_equal_wt, pcv_salt_opposite_wt, pcv_hbond_wt, pcv_vdW_wt, pcv_salt_equal_mut, pcv_salt_opposite_mut, pcv_hbond_mut, pcv_vdW_mut, pcv_salt_equal_self_wt, pcv_salt_opposite_self_wt, pcv_hbond_self_wt, pcv_vdW_self_wt, pcv_salt_equal_self_mut, pcv_salt_opposite_self_mut, pcv_hbond_self_mut, pcv_vdW_self_mut, dg_wt, backbone_hbond_wt, sidechain_hbond_wt, van_der_waals_wt, electrostatics_wt, solvation_polar_wt, solvation_hydrophobic_wt, van_der_waals_clashes_wt, entropy_sidechain_wt, entropy_mainchain_wt, sloop_entropy_wt, mloop_entropy_wt, cis_bond_wt, torsional_clash_wt, backbone_clash_wt, helix_dipole_wt, water_bridge_wt, disulfide_wt, electrostatic_kon_wt, partial_covalent_bonds_wt, energy_ionisation_wt, entropy_complex_wt, number_of_residues_wt, dg_mut, backbone_hbond_mut, sidechain_hbond_mut, van_der_waals_mut, electrostatics_mut, solvation_polar_mut, solvation_hydrophobic_mut, van_der_waals_clashes_mut, entropy_sidechain_mut, entropy_mainchain_mut, sloop_entropy_mut, mloop_entropy_mut, cis_bond_mut, torsional_clash_mut, backbone_clash_mut, helix_dipole_mut, water_bridge_mut, disulfide_mut, electrostatic_kon_mut, partial_covalent_bonds_mut, energy_ionisation_mut, entropy_complex_mut, number_of_residues_mut, IntraclashesEnergy1_wt, IntraclashesEnergy1_mut, IntraclashesEnergy2_wt, IntraclashesEnergy2_mut, Interface_hydrophobic_area, Interface_hydrophilic_area, ...]
Index: []

[0 rows x 103 columns]

In [7]:
def get_elaspic_results(protein, mutation, interactor, data):
    query_data = data[
        (data["UniProt_ID"] == protein) &
        (data["Mutation"] == mutation) &
        (data["Interactor_UniProt_ID"] == interactor)
    ]
    
    return query_data

In [8]:
def search(swaney_table, result_data):
    found_triplets = []
    for index, row in swaney_table.iterrows():
        protein = row["PPIcode Uniprot"].split("_")[0]
        mutation = row["Mutant"]
        interactor = row["PPIcode Uniprot"].split("_")[1]
        query_data = get_elaspic_results(protein, mutation, interactor, data=result_data)
        
        if query_data.empty:
            found = "-"
        else:
            found = "+"
            found_triplets.append((protein, mutation, interactor))

        # print(f"PROTEIN: {protein} MUTATION: {mutation} INTERACTOR: {interactor} FOUND: {found}")
    
    print(f"NUM_FOUND: {len(found_triplets)}")
    print(f"{found_triplets}")

In [9]:
search(swaney.table_1, interface_results)

NUM_FOUND: 3
[('P01112', 'G12D', 'Q13671'), ('P01112', 'G12D', 'O15211'), ('P01112', 'G12D', 'Q13671')]

In [10]:
search(swaney.table_2, interface_results)

NUM_FOUND: 0
[]

In [11]:
search(swaney.table_3, interface_results)

NUM_FOUND: 0
[]

In [12]:
search(swaney.table_4, interface_results)

NUM_FOUND: 0
[]

In [13]:
old_results = pd.read_csv(r"C:/Users/ibrah/Desktop/Digging_in/Merged_Old_Results/BRCA_Interface_2021-11-07.txt", sep="\t", low_memory=False)

In [14]:
search(swaney.table_1, old_results)

NUM_FOUND: 3
[('P01112', 'G12D', 'Q13671'), ('P01112', 'G12D', 'O15211'), ('P01112', 'G12D', 'Q13671')]

In [15]:
search(swaney.table_2, old_results)

NUM_FOUND: 1
[('P42336', 'H1047R', 'O00459')]

In [16]:
search(swaney.table_3, old_results)

NUM_FOUND: 1
[('P42336', 'H1047R', 'O00459')]

In [17]:
search(swaney.table_4, old_results)

NUM_FOUND: 1
[('P42336', 'H1047R', 'O00459')]

In [28]:
found_triplets_so_far = set([('P01112', 'G12D', 'Q13671'), ('P01112', 'G12D', 'O15211'), ('P01112', 'G12D', 'Q13671')])

In [29]:
found_elaspic_entries = []
for prot, mut, inter in found_triplets_so_far:
    found_elaspic_entries.append(
        get_elaspic_results(prot, mut, inter, interface_results)
    )

found_elaspic_results_data = pd.concat(found_elaspic_entries)
found_elaspic_results_data.to_csv("found_elaspic_results.txt", index=False, sep='\t')

In [30]:
found_elaspic_results_data

,Input_identifier,UniProt_ID,Mutation,Status,Type,COSMIC_mut_ID,ClinVar_mut_ID,UniProt_mut_ID,Domain_name,Domain_clan,...,number_of_residues_mut,IntraclashesEnergy1_wt,IntraclashesEnergy1_mut,IntraclashesEnergy2_wt,IntraclashesEnergy2_mut,Interface_hydrophobic_area,Interface_hydrophilic_area,Interface_total_area,Interface_contact_distance_wt,Interface_contact_distance_mut
14,P01112,P01112,G12D,done,interface,COSM99915,-,VAR_068816,Ras,Ras,...,648,35.9691,35.7047,493.422,493.422,None,None,None,4.8406,4.8406
17,P01112,P01112,G12D,done,interface,COSM99915,-,VAR_068816,Ras,Ras,...,339,123.567,123.636,68.5032,68.5032,539.595,324.98,864.585,3.18758,3.18758

In [ ]:
found_elaspic_entries = []
for prot, mut, inter in found_triplets_so_far:

In [21]:
get_elaspic_results('P01112', 'G12D', 'Q13671', interface_results)

,Input_identifier,UniProt_ID,Mutation,Status,Type,COSMIC_mut_ID,ClinVar_mut_ID,UniProt_mut_ID,Domain_name,Domain_clan,...,number_of_residues_mut,IntraclashesEnergy1_wt,IntraclashesEnergy1_mut,IntraclashesEnergy2_wt,IntraclashesEnergy2_mut,Interface_hydrophobic_area,Interface_hydrophilic_area,Interface_total_area,Interface_contact_distance_wt,Interface_contact_distance_mut
17,P01112,P01112,G12D,done,interface,COSM99915,-,VAR_068816,Ras,Ras,...,339,123.567,123.636,68.5032,68.5032,539.595,324.98,864.585,3.18758,3.18758

In [22]:
get_elaspic_results('P01112', 'G12D', 'O15211', interface_results)

,Input_identifier,UniProt_ID,Mutation,Status,Type,COSMIC_mut_ID,ClinVar_mut_ID,UniProt_mut_ID,Domain_name,Domain_clan,...,number_of_residues_mut,IntraclashesEnergy1_wt,IntraclashesEnergy1_mut,IntraclashesEnergy2_wt,IntraclashesEnergy2_mut,Interface_hydrophobic_area,Interface_hydrophilic_area,Interface_total_area,Interface_contact_distance_wt,Interface_contact_distance_mut
14,P01112,P01112,G12D,done,interface,COSM99915,-,VAR_068816,Ras,Ras,...,648,35.9691,35.7047,493.422,493.422,None,None,None,4.8406,4.8406

In [23]:
get_elaspic_results('P01112', 'G12D', 'Q13671', interface_results)

,Input_identifier,UniProt_ID,Mutation,Status,Type,COSMIC_mut_ID,ClinVar_mut_ID,UniProt_mut_ID,Domain_name,Domain_clan,...,number_of_residues_mut,IntraclashesEnergy1_wt,IntraclashesEnergy1_mut,IntraclashesEnergy2_wt,IntraclashesEnergy2_mut,Interface_hydrophobic_area,Interface_hydrophilic_area,Interface_total_area,Interface_contact_distance_wt,Interface_contact_distance_mut
17,P01112,P01112,G12D,done,interface,COSM99915,-,VAR_068816,Ras,Ras,...,339,123.567,123.636,68.5032,68.5032,539.595,324.98,864.585,3.18758,3.18758

In [31]:
found_triplets_so_far

{('P01112', 'G12D', 'O15211'), ('P01112', 'G12D', 'Q13671')}

In [41]:
e1 = swaney.table_1[
    (swaney.table_1["PPIcode Uniprot"].apply(lambda x: x.split("_")[0]) == "P01112") &
    (swaney.table_1["Mutant"] == "G12D") &
    (swaney.table_1["PPIcode Uniprot"].apply(lambda x: x.split("_")[1]) == "O15211")
].copy()
e1

,Cell Line,Bait,BaitGene,Bait Uniprot ID,Prey,Prey Gene Entry,Prey Gene Name,PPIcode,PPIcode Uniprot,Mutant,Log2 fold change (mutant/WT),pvalue,adjpvalue
146,HET-1A,HRAS_g12d,HRAS,P01112,O15211,RGL2_HUMAN,RGL2,HRAS_g12d_O15211,P01112_O15211,G12D,0.610631,0.046395,0.10283

In [42]:
e2 = swaney.table_1[
    (swaney.table_1["PPIcode Uniprot"].apply(lambda x: x.split("_")[0]) == "P01112") &
    (swaney.table_1["Mutant"] == "G12D") &
    (swaney.table_1["PPIcode Uniprot"].apply(lambda x: x.split("_")[1]) == "Q13671")
].copy()
e2

,Cell Line,Bait,BaitGene,Bait Uniprot ID,Prey,Prey Gene Entry,Prey Gene Name,PPIcode,PPIcode Uniprot,Mutant,Log2 fold change (mutant/WT),pvalue,adjpvalue
137,HET-1A,HRAS_g12d,HRAS,P01112,Q13671,RIN1_HUMAN,RIN1,HRAS_g12d_Q13671,P01112_Q13671,G12D,0.450163,0.063565,0.127231
157,CAL-33,HRAS_wt,HRAS,P01112,Q13671,RIN1_HUMAN,RIN1,HRAS_wt_Q13671,P01112_Q13671,G12D,1.13063,0.000705,0.049794

In [45]:
pd.concat([e1, e2]).to_csv("swaney_found_triplets_filtered.csv", index=False)

# Load Predator

In [53]:
PIK3CA_mutations = (
    set(swaney.table_2["Mutant"].unique()) | set(swaney.table_3["Mutant"].unique()) | set(swaney.table_4["Mutant"].unique())
)

In [63]:
for mut in PIK3CA_mutations:
    print(f"P42336.{mut}")

P42336.C971R
P42336.E453K
P42336.E110DEL
P42336.E545K
P42336.G363A
P42336.M1043V
P42336.K111E
P42336.K111N
P42336.E545G
P42336.H1047R
P42336.E726K
P42336.R88Q
P42336.V344G
P42336.E542K
P42336.H1047L
P42336.G1007R

In [55]:
PIK3CA_mutations

{'C971R',
 'E110DEL',
 'E453K',
 'E542K',
 'E545G',
 'E545K',
 'E726K',
 'G1007R',
 'G363A',
 'H1047L',
 'H1047R',
 'K111E',
 'K111N',
 'M1043V',
 'R88Q',
 'V344G'}

In [62]:
for e in sorted(swaney.table_4["Mutant"].unique()):
    assert e in PIK3CA_mutations

In [52]:
sorted(swaney.table_4["Mutant"].unique())

['C971R',
 'E110DEL',
 'E453K',
 'E542K',
 'E545G',
 'E545K',
 'E726K',
 'G1007R',
 'G363A',
 'H1047L',
 'H1047R',
 'K111E',
 'K111N',
 'M1043V',
 'R88Q',
 'V344G']

In [23]:
swaney.table_1.head(3)

,Cell Line,Bait,BaitGene,Bait Uniprot ID,Prey,Prey Gene Entry,Prey Gene Name,PPIcode,PPIcode Uniprot,Mutant,Log2 fold change (mutant/WT),pvalue,adjpvalue
0,SCC-25,TP53_wt,TP53,P04637,Q00987,MDM2_HUMAN,MDM2,TP53_wt_Q00987,P04637_Q00987,R273H,-7.11377,0.000061,0.001192
1,CAL-33,MAPK1_wt,MAPK1,P28482,P51812,KS6A3_HUMAN,RPS6KA3,MAPK1_wt_P51812,P28482_P51812,E322K,-5.701405,0.000174,0.600479
2,HET-1A,MAPK1_wt,MAPK1,P28482,P51812,KS6A3_HUMAN,RPS6KA3,MAPK1_wt_P51812,P28482_P51812,E322K,-5.361809,0.000717,0.280596

In [17]:
swaney.table_1[
    swaney.table_1["PPIcode Uniprot"].apply(lambda x: x.split('_')[0] == "P01112") &
    swaney.table_1["PPIcode Uniprot"].apply(lambda x: x.split('_')[0] == "P13995")
]

Empty DataFrame
Columns: [Cell Line, Bait, BaitGene, Bait Uniprot ID, Prey, Prey Gene Entry, Prey Gene Name, PPIcode, PPIcode Uniprot, Mutant, Log2 fold change (mutant/WT), pvalue, adjpvalue]
Index: []

In [19]:
swaney.table_1[["PPIcode Uniprot"]]

    PPIcode Uniprot
0     P04637_Q00987
1     P28482_P51812
2     P28482_P51812
3     P04637_Q12888
4     P28482_Q15418
..              ...
192   P04637_P38936
193   P28482_Q15418
194   Q969H0_Q96PZ2
195   Q969H0_Q6AI12
196   P01112_Q13753

[197 rows x 1 columns]